.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #311b92;
}

/* 
body {
  background-color: #311b92;
} */

@font-face {
  font-family: mainFont;
  src: url("../public/fonts/RobotoCondensed-Black.ttf");
  font-family: 100;
}

@font-face {
  font-family: mainFont;
  src: url("../public/fonts/RobotoCondensed-BoldItalic.ttf");
  font-family: bold;
}

@font-face {
  font-family: mainFont;
  src: url("../public/fonts/RobotoCondensed-ExtraBoldItalic.ttf");
  font-family: 1000;
}